.info-error{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-error{
    max-width: 100%;
    height: 263px;
    font-size: 288px;
    font-weight: 700;
    text-align: center;
    color: #FF6060;
    margin-top: 80px;
    margin-bottom: 80px;
}

.text-error{
    width: 90%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 51,34px;
    color: #FF6060;
    text-align: center;
}

.return-error-info{
    font-size: 18px;
    font-weight: 500;
    line-height: 25,67px;
    color: #FF6060;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.return-error-info:hover{
    text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .number-error{
        font-size: 180px;
        margin-bottom: 40px;
        height: 200px;
    }
    .text-error{
        font-size: 26px;
    }
    .return-error-info{
        font-size: 16px;
    }
}

@media screen and (min-width: 411px) and (max-width: 767px) {
    .number-error{
        font-size: 96px;
        margin-bottom: 10px;
        height: 99px;
    }
    .text-error{
        font-size: 18px;
    }
    .return-error-info{
        font-size: 14px;
    }
}

@media (max-width: 410px) {
    .number-error{
        font-size: 80px;
        margin-bottom: 10px;
        height: 99px;
    }
    .text-error{
        font-size: 18px;
        margin: 0;
    }
    .return-error-info{
        font-size: 14px;
        margin: 50px 0;
    }

}