.header {
    padding: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.logo {
    display: flex;
    background-image: url('../../assets/LOGO.png');
    width: 60%;
    height: 68px;
    background-repeat: no-repeat;
}

.pages_nav {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 34px;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.page_accueil {
    height: 34px;
    text-decoration: none;
    color: #ff6060;
}

.page_accueil:hover {
    border-bottom: 3px solid #ff6060;
}

.page_Apropos {
    height: 34px;
    text-decoration: none;
    color: #ff6060;
    margin-left: 100px;
}

.page_Apropos:hover {
    border-bottom: 3px solid #ff6060;
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    .logo{
        width: 40%;
    }
    .pages_nav{
        width: 60%;
    }
}

@media screen and (min-width: 411px) and (max-width: 767px) {
    .header{
        width: 93%;
        height: 47px;
        padding: 30px 20px 30px 20px;
        justify-content: space-around;
    }

    .logo{
        width: 45%;
        background-image: url('../../assets/LOGO-media.png');
    }

    .pages_nav {
        font-size: 20px;
        width: 50%;
        display: flex;
    }

    .page_Apropos{
        margin-left: 20px;
    }
}

@media screen and (max-width: 410px) {
    .header{
        background-repeat: no-repeat;
        padding: 10px;
        padding-bottom: 0;
        flex-direction: column;
    }

    .logo{
        background-image: url('../../assets/LOGO-media.png'); 
        width: 56%;
        height: 47px;
    }

    .pages_nav{
        width: 100%;
        justify-content: space-around;
        padding-top: 10px;
        font-size: 12px;
    }

    .page_Apropos{
        margin-left: 0;
    }
}