.banner-about {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-banner {
    background-image: url('../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.png');
    width: 95%;
    height: 223px;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.7);
}

@media (max-width: 400px) {
    .about-banner{
        height: 170px;
    }
}