.accommodation-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
}

@media screen and (min-width: 411px) and (max-width: 767px){
    .accommodation-container{
        padding: 0 15px;
    }
}

@media screen and (max-width: 410px) {
    .accommodation-container{
        padding: 0 15px;
    }
}