.star-rating{
    display: flex;
    justify-content: flex-end;
    height: 36px;
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .star-rating{
        height: 16px;
    }
}

@media (max-width: 400px) {
    .star-rating{
        height: 16px;
    }
}